<nav>
  <section>
    <h2>shotanue.dev</h2>
    <ul role="list">
      <li>
        <a href="/">cd</a>
      </li>
      <li>
        <a href="/posts">cd</a>
      </li>
    </ul>
  </section>
  <section>
    <h2>Accounts</h2>
    <ul role="list">
      <li>
        <a href="https://x.com/shotanue" target="_brank" rel="noopener noreferrer">
          X
        </a>
      </li>
      <li>
        <a href="https://github.com/shotanue" target="_brank" rel="noopener noreferrer">
          GitHub
        </a>
      </li>
      <li>
        <a href="https://qiita.com/shotanue" target="_brank" rel="noopener noreferrer">
          Qiita
        </a>
      </li>
      <li>
        <a href="https://shotanue.hatenablog.com" target="_brank" rel="noopener">
          Hatena
        </a>
      </li>
    </ul>
  </section>
</nav>
