<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.cdnfonts.com/css/jetbrains-mono" rel="stylesheet">
    <title>{{metaTitle}}</title>
    <style>{{> reset.css}}</style>
    <style>{{> style.css}}</style>
  </head>
  <body>
    <img class="polygon" src="/assets/polygon.svg" alt="polygon" />
    <img class="ellipse" src="/assets/ellipse.svg" alt="ellipse" />
    <header class="markdown"><h1 class="font-size-base">{{title}}</h1></header>
    <main class="window">
      <section class="content markdown">
        {{> %%%%}}
        <p class="copyright">© 2023 Shotaro Hirukawa</p>
      </section>
    </main>
    <footer>
      <div class="path markdown">
        <a href="{{returnTo}}{{^returnTo}}/nav/{{/returnTo}}">cd</a>
      </div>
    </footer>
  </body>
</html>
